<%= form_for @job do |f| %>
	<div>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>
	<div>
		<%= f.label :description %>
		<%= f.text_area :description, size: '60x6' %>
	</div>
	<div>
		<%= f.label :contact %>
		<%= f.text_field :contact %>
	</div>
	<div>
		<%= f.label :comment %>
		<%= f.text_area :comment, size: '60x6' %>
	</div>	

<%-# need to figure out how to create tag form within the job form-%>	
<%-# tag model needs its own controller most likely-%>	
	
	<%= f.fields_for @job.tags.create do |addy_form| %>
		<%= addy_form.label :tag %>
		<%= addy_form.text_field :content%>

	<% end %>
		
	


	<div>
	<%= f.submit %>
	</div>
<% end %>